<div class="container">
  <h2>Diagnostic List</h2>
  <div id="table-container">
    <table>
      <thead>
        <tr>
          <th>Problem/Diagnosis</th>
          <th>Description</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of diagnosticList">
          <td>{{item.name}}</td>
          <td>{{item.description}}</td>
          <td>{{item.status}}</td>
        </tr>
        <tr *ngFor="let item of diagnosticList">
          <td>{{item.name}}</td>
          <td>{{item.description}}</td>
          <td>{{item.status}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>